// Specific CSS for your home-page
body{
  background-color: #FFFFFF;
}

h2{
  font-family: 'Mulish', sans-serif;
  font-weight: 900;
  font-size: 48px;
}

h4, h3 {
  font-family: 'Mulish', sans-serif;
}

@media (min-width: 1400px) {
  .container{
      max-width: 1500px;
  }
}

.highlight{
  background-color: #C4E0E2;
  font-weight: bolder;
  font-family: 'Mulish', sans-serif;
  padding: 4px 5px 6px;
  border-radius: 4px;
  color: black;
}

p {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  line-height: 1.7rem;
  color: #58585D;
}

h3 {
  font-family: 'Mulish', sans-serif;
  font-weight: 900;
}

ol li {
  font-family: 'Mulish', sans-serif;
}

ul {
  padding-left: 0rem;
  font-family: 'Mulish', sans-serif;
}

ul li {
  display: inline;
  text-decoration: underline;
  color: #58585D;
  padding-right: 4px;
  font-family: 'Mulish', sans-serif;
}


ul li a {
  color: #58585D;
  text-decoration-color:#C4E0E2;
  font-size: 20px;
}

ul li a:hover {
  color: #C4E0E2;
  text-decoration-color:#58585D;
}


.color-font{
  color: #036f76 ;
  text-decoration: underline;
  text-decoration-color: #58585D;
}
