#word p{
  p {
    color: black;
  }
}

.body {
  background-color: #131D25;
  color: white;
  p {
    color: white;
  }

  ul li a{
    color: white;
  }

  ul li a:hover {
    color: #C4E0E2;
    text-decoration-color:white;
  }
}

.click-dark{
  cursor: pointer;
}

.click-light{
  cursor: pointer;
}
