<div class="container homedesign mt-5" data-controller= "wordcounters">
  <div class="row mt-5">
    <div class="col-6">
      <h1>spellCorrect</h1><br>
      <h4>Count every words and <span class= "highlight">chcek speling</span> errors!</h4><br><br>
      <ol>
        <p><li>Open-source illustrations for any idea you can imagine and create.</li></p><br>
        <p><li>Open-source illustrations for any idea you can imagine and create.</li></p>
      </ol><br>
      <h3>summary</h3><br>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas natus nisi deleniti molestiae reiciendis neque aspernatur cum, velit omnis soluta quo, temporibus, aliquam quisquam accusamus consequuntur doloribus! Dicta, qui quidem.
      Fugiat qui asperiores possimus inventore sed nam delectus dolore libero animi praesentium aliquam, consequuntur ullam repudiandae vero molestiae recusandae nulla aperiam modi rem magnam repellat neque laudantium excepturi similique. Architecto.</p><br><br>
      <h3>what you can do</h3><br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique animi tenetur iusto, accusamus amet soluta ratione? Delectus, eaque? Ad, reprehenderit. Optio voluptatem eveniet officiis cupiditate nobis labore, dolores reiciendis sunt.
      Harum iusto, eveniet nisi incidunt dolor cumque nemo maiores libero quibusdam quia quidem quasi quaerat, aliquid distinctio esse delectus modi minima unde odit illum neque eligendi quis debitis. Ipsum, eos!</p><br><br><br><br>
      <div>
        <ul>
          <li><a href="#">contact</a></li>
          <li><a href="#">more tools</a></li>
          <li><a href="#">feedback</a></li>
        </ul>
      </div>
    </div>
    <div class="col-6">
      <%= simple_form_for @countword, data: { action: "keyup->wordcounters#send"} do |f| %>
        <%= f.input :words, input_html: { data: { wordcounters_target: "form" , controller: "textarea-autogrow" , action: "select->wordcounters#hightlight"} , class: "form"}  %>
      <% end %>
      <div class="mt-4" data-wordcounters-target="item">
        <p>Character count: <span> 0 </span></p>
        <p>Character count without spaces: <span> 0 </span> </p>
        <p>Line count: <span> 0 </span> </p>
        <p>Word count: <span> 0 </span></p>
        <p>Sentence count: <span> 0 </span></p>
        <p>Error count: <span> 0 </span></p>
        <p>paragraph_count: <span> 0 </span></p>
        <p>Wrong words: <span> Nil</span></p>
      </div>
    </div>
  </div>
</div>
