<div class="container homedesign mt-5" data-controller= "wordcounters" data-wordcounters-api-key-value=<%= ENV['X_RapidAPI_Key'] %>>
<nav class="navbar  navbar-mobile fixed-top navbar-light bg-light" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
    <h2><a class="navbar-brand" href="#">spellCorrect</a></h2>
  </div>
</nav>
  <div class="row mt-5 gx-5">
    <div class="col-12 col-md-5 phone-view p-3">
      <div data-action="click->click#changemode">
        <p><span class= "click-dark" data-click-target="dark">Dark mode   <i class="fa-solid fa-toggle-off"></i></span><span class="d-none click-light" data-click-target="light">Light mode <i class="fa-solid fa-toggle-on"></i></span></p>
      </div>
      <h2 >spellCorrect</h2><br>
      <h4>Count every words and <span class= "highlight">chcek speling</span> errors!</h4><br>
      <ol>
        <p><li>As a writer detecting wrong spellings in your text is very important.</li></p>
        <p><li>As a writer knowing the count word of a text can be very important.</li></p>
      </ol>
      <div class= "content">
        <span><h3 style="margin-top:44px">summary</h3><br></span>
        <p>spellCorrect is a language tool app that helps bring convenience to your writing. To keep track what you are writing , we help you analyse every sentence and give you a break down reports of words to suits your professionalism and usage.</p>
        <p> spellCorrect also has an in built system that helps you detect wrong spellings and provide suggestions on alternative words to use.</p><br><br>
        <h3>what you can do</h3><br>
        <p>Put your writing in our word-counter and you will see the number of characters and words . You can also type in the word-counter and watch as the characters and words increase or decrease as you type , delete and edit them.</p>
        <p>As an author you might be require to write a minimum or maximum words for an article , essay , reports or book so knowing the word count of text can be very important. checkSpeller help you get a detailed reports of your text. </p><br><br>
      </div>
      <div class = "content">
        <ul>
          <li><a href="#">contact</a></li>
          <li><a href="#">more tools</a></li>
          <li><a href="#">feedback</a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-7 p-3">
      <%= simple_form_for @countword, data: { action: "keyup->wordcounters#send"} do |f| %>
        <%= f.input :words, input_html: { data: { wordcounters_target: "form" , controller: "textarea-autogrow" , action: "select->wordcounters#hightlight"} , class: "form"}  %>
      <% end %>
      <div id="word" style="padding-right: 0px; padding-left: 16px; padding-top: 16px" data-wordcounters-target="item">
        <div><p><span class="word-design">Character count: </span>  <span> 0 </span></p>
        <p><span class="word-design">Character count without spaces: </span><span> 0 </span> </p>
        <p><span class="word-design">Line count: </span><span> 0 </span> </p>
        <p><span class="word-design">Word count: </span><span> 0 </span></p>
        <p><span class="word-design">Sentence count: </span><span> 0 </span></p>
        <p><span class="word-design">Wrong words count: </span><span> 0 </span></p>
        <p><span class="word-design">Paragraph count: </span><span> 0 </span></p>
        <p><span class="word-design">Wrong words: </span><span> Nil</span></p>
        </div>
      </div>
      <div data-controller="refresh-page">
        <span data-action="click->refresh-page#refresh"><button type="button" class="btn btn-primary w-100">Reset Counter</button></span>
      </div>
    </div>
  </div>
  <div class="phone-only">
    <h3>summary</h3><br>
      <p>spellCorrect is a language tool app that helps bring convenience to your writing. To keep track what you are writing , we help you analyse every sentence and give you a break down reports of words to suits your professionalism and usage.</p>
      <p> spellCorrect also has an in built system that helps you detect wrong spellings and provide suggestions on alternative words to use.</p><br>
    <h3>what you can do</h3><br>
      <p>Put your writing in our word-counter and you will see the number of characters and words . You can also type in the word-counter and watch as the characters and words increase or decrease as you type , delete and edit them.</p>
      <p>As an author you might be require to write a minimum or maximum words for an article , essay , reports or book so knowing the word count of text can be very important. checkSpeller help you get a detailed reports of your text. </p><br><br><br>
  </div>
  <div class="phone-only" >
        <ul>
          <li><a href="#">contact</a></li>
          <li><a href="#">more tools</a></li>
          <li><a href="#">feedback</a></li>
        </ul>
      </div>
</div>
