.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-mobile{
  display: none;
  padding-top: 0px;
  padding-bottom: 0px;

}

.container-fluid {
  background-color: white;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 16px;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}
